@page "/"
@using Sudoku.Components

<PageTitle>Test</PageTitle>
<div class="container">
  <div class="row">
    <div class="col-auto">
      <SudokuBoard Size="3"></SudokuBoard>
    </div>
    <div class="col">
      <button class="btn btn-primary">Solve</button>
      <button class="btn btn-danger">Reset</button>
    </div>
  </div>
</div>

@code {

}