@using Library
<div class="border border-2 border-black m-0">
  @for (int cellRow = 0; cellRow < Size; cellRow++)
  { 
    <div class="row g-0">
      @for (int cellColumn = 0; cellColumn < Size; cellColumn++)
      {
        <div class="col-auto">
          <Cell Location="@(Location.GetChildLocation(cellRow, cellColumn, Size))"></Cell>
        </div>
      }
    </div>
  }
</div>

@code {
  [Parameter] public int Size { get; set; } = 3;
  [Parameter] public Location Location { get; set; }
}

