<div class="border border-2 border-black m-0">
  @for (int i = 0; i < Size; i++)
  {
    <div class="row g-0">
      @for (int j = 0; j < Size; j++)
      {
        <div class="col-auto">
          <Cell Value="@RandomSudokuNumber()"></Cell>
        </div>
      }
    </div>
  }
</div>

@code {
  [Parameter] public int Size { get; set; } = 3;

  Random _random = new Random(DateTime.Now.Millisecond);

  int RandomSudokuNumber()
  {
    return _random.Next() % 9 + 1;
  }

}

