@using Library
@inject GameState _GameState;

<button class="btn btn-secondary m-1" @onclick="ButtonPressed">@DisplayValue()</button>

@code {
  [Parameter] public int? Value { get; set; }

  string DisplayValue()
  {
    return Value is null ? "Clear" : Value.Value.ToString();
  }
  
  void ButtonPressed()
  {
    var selectedCell = _GameState.SelectedLocation;
    if (selectedCell is null)
      return;
    _GameState.CurrentBoard.SetValueAt(selectedCell.Value, Value);
  }
}